*{
    margin: 0px;
    padding: 0px;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Navbar */
.main-background{
    position: relative;
}
navbar{
    display: flex;
    
}

navbar .nav-right{
    display: flex;
    width: 80%;
    margin: 20px;
   
    
}
navbar .nav-right .logo img{
    width: 85px;
    height: 77px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
}


.nav-right ul{
    list-style: none;
    display: flex;
    
    
   
}

.nav-right ul a {
    padding: 5px;
    margin: 14px;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    background: none;
    border: 1px solid black;
    border-radius: 1.3rem;
    font-family: 'Bree Serif', serif;
   
}

.nav-right ul a:hover {
    color: white;
    background: black;
    
   
}

.main::before{
    content: "";
    background: url("../images/sunset.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
}



.nav-left {
    width: 20%;
    margin-top: 40px;

    
}

.nav-left input {
    height: 25px;
    border: none;
    text-align: center;
    border-radius: 30px;
    
}
.nav-left .btn {
    height: 25px;
    width: 70px;
    border-radius: 30px;
    
}

/* Main */
.main{
    display:flex;
    padding: 100px 250px;
}

.main-right {
    width: 250px;
    height: 100px;
    border-radius: 100px;
    
    
}

.main-left .heading{
    font-family: 'Bree Serif', serif;
}
.main-left .text{
    font-family: 'Baloo Bhai 2', cursive;
}

.main-left{
    padding: 0px 50px;
}

.main-left .btn{
    font-family: 'Baloo Bhai 2', cursive;
    background: none;
    border:1px solid black;
    border-radius: 12px;
    font-size: 1.5rem;
    padding: 5px;
    margin: 12px;

}


/* Section2 */
.section2{
    margin: 100px 200px;
}
.section2 .section-part{
    display: flex;

}

.section2 .section-part .sectiontext{
    padding: 0px 50px;
    
}

.section2 .section-part .sectiontext .section-part-heading{
    
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    
}

.section2 .section-part .sectiontext .section-part-text{
    
    font-family: 'Baloo Bhai 2', cursive;
    
}

.section2 .section-part .section-image{
    border-radius: 100px;
}

.edit{
    flex-direction: row-reverse;
    margin: 50px;
}

/* Contact */
.contact-section{
    background-color: rgb(235, 233, 233);
}

.contact-section .heading{
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
    margin-bottom: 20px;
    text-decoration: underline;
    
}

.contact-section form{
    display: flex;
    flex-direction: column;

}

.contact-section input, textarea{
    width: 40%;
    padding: 10px;
    margin: 13px;
    font-family: 'Baloo Bhai 2', cursive;
    
}

.contact-section .btn{
    font-size: 1.2rem;
    border-radius: 10px;
    padding : 2px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor: pointer;

}

footer{
    font-size: 1.2rem;
    color: white;
    background-color: black;
    margin-top: 50px;
}